body {
	margin: 0;
	background: #fff;
	border-radius: 5px;
}

.line {
	border: none;
}

.scroll {
	height: calc(100vh - 50px);
	overflow: auto;
}

.scroll-header {
	text-transform: uppercase;;
	font-size: 11;
	color: #8e8e93;
	font-weight: 600;
	margin-left: 10px;
	margin-bottom: 5px;
	padding-top: 10px; 
}

.close-button {
	background: #ff2d55;
}

.hide-button {
	background: #ffcc00;
}

.full-button {
	background: #4cd964;
}

.page-header {
	margin-bottom: 5px;
}

.title {
	cursor: pointer;
	-webkit-user-select: none;
}

.arrow_box {
	position: absolute !important;
	top: 85px !important;
	left: 320px;
	background: #fff;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	box-shadow: 0 0 7px rgba(0,0,0,.1);
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 7px;
	margin-left: -7px;
}
.arrow_box:before {
	border-color: rgba(51, 51, 51, 0);
	border-bottom-color: #d1d1d1;
	border-width: 8px;
	margin-left: -8px;
}

.choose-notebook {
	font-size: 12pt;
	position: relative;
	top: 5px;
}

.sidebar-notes {
	float: left;
	width: 299px;
	height: calc(100vh);

	background: #e8e8e8;

	border-right: 1px solid #8e8e93;

	-webkit-user-select: none;
}

.sidebar-notes-header {
	padding: 10px;
	overflow: auto;
	background: #fff;
	border-bottom: 1px solid #d1d1d1;
	color: #007aff;
	font-size: 13pt;
}

.sidebar-notes-header .back-arrow {
	float: left;
	cursor: pointer;
}

.sidebar-notes-header .new-item {
	float: right;
	cursor: pointer;
	padding-left: 10px;
}

.sidebar-notes-header span {
	font-size: 15pt;
	position: relative;
	top: 3px;
}

.note-listing, .notebook-listing {
	font-size: 16pt;
	padding: 10px;
	padding-left: 25px;
	cursor: pointer;
	border-bottom: 1px solid #d1d1d1;
	transition: background .1s;
	background: #fff;
}

.note-listing:hover, .notebook-listing:hover {
	background: #f1f1f1;
}

.note-listing:nth-child(2), .notebook-listing:nth-child(2) {
	border-top: 1px solid #d1d1d1;
}

.content {
	float: left;
	width: calc(100% - 300px);
	height: calc(100vh);

	padding-left: 20px;
	padding-right: 20px;
}

.editTitle {
	color: #777;
	font-size: 18pt;
	border: none;
	min-width: 150px;
	width: 150px;
}

.note-buttons {
	float: right;
}

.note {
	width: 100%;
	overflow: auto;
	height: calc(100vh - 115px) !important;
}

::-webkit-scrollbar {  
    width: 5px;
}

::-webkit-scrollbar-track {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 5px;
	background-clip: padding-box;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.edit-textarea {
	width: 100%;
	height: calc(100vh - 140px) !important;
	resize: none;
}

.note-buttons button {
	width: 135px;
}

.note-buttons span {
	margin-left: 10px;
}

.note-view {
	padding-right: 15px;
}