body {
	margin: 0;
}

h1 {
	overflow: a3uto;
}

.sidebar {
	float: left;
	width: 300px;
	height: 100vh;

	background: #e8e8e8;
}

.note-listing {
	font-size: 16pt;
	padding: 10px;
	padding-left: 25px;
	cursor: pointer;
	border-bottom: 1px solid #d1d1d1;
	transition: background .1s;
}

.note-listing:hover {
	background: #f1f1f1;
}

.content {
	float: left;
	width: calc(100% - 300px);
	height: 100vh;

	padding-left: 20px;
	padding-right: 20px;
}

.editTitle {
	color: #777;
	font-size: 18pt;
	border: none;
	min-width: 150px;
	width: 150px;
}

.note-buttons {
	float: right;
}

.note {
	width: 100%;
}

.edit-textarea {
	width: 100%;
	height: calc(100vh - 140px) !important;
	resize: none;
}

.note-buttons button {
	width: 135px;
}

.note-buttons span {
	margin-left: 10px;
}