body {
	margin: 0;
	background: #fff;
	border-radius: 5px;
}

.toolbar {
	width: 100%;
	height: 26px;
	background: #d1d1d1;
	overflow: none;
	display: none;
}

.toolbar-button {
	float: left;
	position: relative;
	top: 5px;
	margin-left: 7px;
	width: 16px;
	height: 16px;
	border-radius: 10px;
	background: #ff2d55;
	cursor: pointer;
}

.toolbar-button:active {
	box-shadow: inset 0 0 10px rgba(0,0,0,.2);
}

.close-button {
	background: #ff2d55;
}

.hide-button {
	background: #ffcc00;
}

.full-button {
	background: #4cd964;
}

.page-header {
	margin-bottom: 5px;
}

.sidebar {
	float: left;
	width: 300px;
	height: calc(100vh - 26px);

	background: #e8e8e8;

	overflow: auto;
}

.note-listing {
	font-size: 16pt;
	padding: 10px;
	padding-left: 25px;
	cursor: pointer;
	border-bottom: 1px solid #d1d1d1;
	transition: background .1s;
}

.note-listing:hover {
	background: #f1f1f1;
}

.content {
	float: left;
	width: calc(100% - 300px);
	height: calc(100vh - 26px);

	padding-left: 20px;
	padding-right: 20px;
}

.editTitle {
	color: #777;
	font-size: 18pt;
	border: none;
	min-width: 150px;
	width: 150px;
}

.note-buttons {
	float: right;
}

.note {
	width: 100%;
	overflow: auto;
	height: calc(100vh - 141px) !important;
}

::-webkit-scrollbar {  
    width: 5px;
}

::-webkit-scrollbar-track {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 5px;
	background-clip: padding-box;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.edit-textarea {
	width: 100%;
	height: calc(100vh - 140px) !important;
	resize: none;
}

.note-buttons button {
	width: 135px;
}

.note-buttons span {
	margin-left: 10px;
}

.note-view {
	padding-right: 15px;
}