<div class="toolbar">
	<div class="toolbar-button close-button" ng-click="closeWindow()"></div>
	<div class="toolbar-button hide-button" ng-click="hideWindow()"></div>
	<div class="toolbar-button full-button" ng-click="fullWindow()"></div>
</div>

<div class="sidebar-notes">
	<div class="sidebar-notes-header">
		<div class="back-arrow"> <span class="glyphicon glyphicon-chevron-left"></span> Notebooks</div>
		<div class="new-item"><span class="glyphicon glyphicon-plus" ng-click="newNote()"></span></div>
	</div>
	<div class="scroll">
		<div class="scroll-header">Notes</div>
		<div class="note-listing" ng-repeat="note_obj in notes track by $index" ng-click="loadNote(note_obj)">{{note_obj}}</div>
	</div>
</div>

<div class="content">
	<div class="page-header">
		<h1>
			<div class="btn-group note-buttons">
				<button type="button" class="btn btn-success" ng-click="newNote()">New Note <span class="glyphicon glyphicon-file"></span></button>	
				<button type="button" class="btn btn-primary" ng-click="toggleMode()" ng-bind-html="modeString"></button>	
				<button type="button" class="btn btn-warning" ng-click="saveNote()">Save Note <span class="glyphicon glyphicon-floppy-disk"></span></button>	
				<button type="button" class="btn btn-danger" ng-click="deleteNote()">Delete Note <span class="glyphicon glyphicon-trash"></span></button>	
			</div>
			<div class="float-left">
				<span class="title" ng-click="toggleNotebookMode()">Notebook 1</span>

				<small ng-if="titleMode == 0" ng-click="toggleTitleMode()">{{title}}</small>
				<input class="editTitle" ng-if="titleMode == 1" ng-click="toggleTitleMode()" focus-on="titleMode" ng-blur="toggleTitleMode()" ng-model="$parent.title" placeholder="Untitled...">
			</div>

			
		</h1>
	</div>

	<div class="note">
		<textarea class="edit-textarea form-control" ng-model="$parent.note" ng-if="mode == 1" ng-tab></textarea>
		<div class="note-view" ng-if="mode == 0" ng-bind-html="$parent.pureHTML"></div>
	</div>
</div>